body {
  background-color: $background-light-gray;
  padding-top: 50px;
}

.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}

.input-group-btn .btn-group {
  display: flex !important;
}

.btn-group {
  .btn {
    border-radius: 0;
    margin-left: -1px;

    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .form-horizontal .btn[type="submit"] {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-group .form-control:last-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.loading-wrapper {
  margin-top: 30px;

  .loading-text {
    color: $text-color;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

.code-wrapper {
  pre {
    background: none;
    border: none;
    padding: 0;
  }

  pre code {
    border: 1px solid gainsboro;
    border-radius: $border-radius-sm;
    margin: 30px 0 0;
    max-height: 600px;
    overflow: auto;
  }
}

@media screen and (min-width: $screen-sm) {
  #adv-search {
    margin: 0 auto;
    width: 500px;
  }

  .dropdown.dropdown-lg {
    position: static !important;
  }

  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }
}
