{% extends "layout/base.html" %}

{# OVERRIDE PAGE TITLE #}
{% block title %}Home Page{% endblock %}

{# ADD JAVASCRIPT #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{front_page}}/lib/highlight/highlight.pack.js"></script>
    <link rel="stylesheet" href="{{front_page}}/lib/highlight/styles/default.css">
    <script type="text/javascript" src="{{front_page}}/scripts/pages/home.js"></script>
{% endblock %}

{# OVERRIDE CONTENT BLOCK#}
{% block content %}

<form method="POST" id="crawling">
  <div class="input-group" id="adv-search">
    <input type="url" name="url" class="form-control" placeholder="http://website.com" required/>

    <div class="input-group-btn">
      <div class="btn-group" role="group">
        <div class="dropdown dropdown-lg">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            <div class="form-group">
              <label for="filter">Options:</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="recurrsive" checked>
                  RECURRSIVE CROWLING - Crawl all the links attached to the current page
                </label>
              </div>

              {% for element in elements %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="{{ element.name }}" name="elements" checked>
                    {{ element.name|upper }} - {{ element.description|capitalize }}
                  </label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</form>

<div class="loading-wrapper hide">
  <img src="{{ front_page }}/images/loading.gif" />
  <div class="loading-text">Here we go..</div>
</div>

<div class="code-wrapper text-left hide">
  <pre>
    <code class="json">
    </code>
  </pre>
</div>
{% endblock %}
