{% extends "layout/base.html" %}

{# OVERRIDE PAGE TITLE #}
{% block title %}Home Page{% endblock %}

{# OVERRIDE CONTENT BLOCK#}
{% block content %}

<form action="process" method="POST">
  <div class="input-group" id="adv-search">
    <input type="url" name="url" class="form-control" placeholder="http://website.com" />

    <div class="input-group-btn">
      <div class="btn-group" role="group">
        <div class="dropdown dropdown-lg">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            <div class="form-group">
              <label for="filter">Filter by</label>
              <select class="form-control">
                <option value="0" selected>All Snippets</option>
                <option value="1">Featured</option>
                <option value="2">Most popular</option>
                <option value="3">Top rated</option>
                <option value="4">Most commented</option>
              </select>
            </div>
          </div>
        </div>
        
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</form>

{% endblock %}
